/* src/components/Keypad.module.css */

.keypad {
  position: relative;
  aspect-ratio: 400 / 310;
  display: flex;
  place-items: center;
  width: clamp(280px, 35vw, 400px);
  touch-action: none;
  transition-property: translate, transform;
  transition-duration: 0.26s;
  transition-timing-function: ease-out;
  transform-style: preserve-3d;
  margin: 0 auto; /* Төвлөрүүлэх */
}

.keypadBase {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

.keypadBase img {
  width: 100%;
  display: block;
}

/* Товчлуурын үндсэн загвар */
.key {
  transform-style: preserve-3d;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  transition: transform 0.1s;
}

/* Дарах үеийн хөдөлгөөн */
.key:active .keyContent,
.key[data-pressed="true"] .keyContent {
  transform: translateY(20%); /* Доошоо шигдэх хэмжээ */
}

.keyContent {
  width: 100%;
  display: inline-block;
  height: 100%;
  transition: transform 0.12s ease-out;
  position: relative;
}

.keyMask {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.keyImage {
  width: 96%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 1%);
  /* Өнгийг React дээр inline style-аар удирдана */
}

/* Текстний загвар */
.keyText {
  position: absolute;
  font-family: sans-serif;
  font-weight: 900;
  color: #e5e5e5;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  z-index: 20;
  transform: rotateX(36deg) rotateY(45deg) rotateX(-90deg);
  pointer-events: none;
}

/* --- Single Key (Жижиг товч) --- */
.keySingle {
  width: 40.5%;
  height: 46%;
  /* Clip path болон mask нь товчийг 3D хэлбэртэй харагдуулна */
  clip-path: polygon(
    0 0, 54% 0, 89% 24%, 100% 70%, 54% 100%, 46% 100%, 0 69%, 12% 23%, 47% 0%
  );
  mask: url(https://assets.codepen.io/605876/keypad-single.png?format=auto&quality=86) 50% 50% / 100% 100%;
}

.keySingle .keyText {
  font-size: 2rem;
  top: 20%;
  left: 20%;
}

/* Байрлалууд */
.posLeft {
  left: 29.3%;
  bottom: 54.2%;
  z-index: 2;
}

.posRight {
  left: 54%;
  bottom: 36%;
  z-index: 3;
}

/* --- Double Key (Том товч) --- */
.keyDouble {
  width: 64%;
  height: 65%;
  left: 6%;
  bottom: 17.85%;
  z-index: 4;
  clip-path: polygon(
    34% 0, 93% 44%, 101% 78%, 71% 100%, 66% 100%, 0 52%, 0 44%, 7% 17%, 30% 0
  );
  mask: url(https://assets.codepen.io/605876/keypad-double.png?format=auto&quality=86) 50% 50% / 100% 100%;
}

.keyDouble .keyText {
  font-size: 2.5rem;
  top: 30%;
  left: 25%;
}

.keyDouble .keyImage {
    width: 99%;
}